extends layout

block header_more

block content

        md-toolbar(class="{{lc.screenSize}}")
            h1 {{lc.title}}

        md-content#content(flex)
            h2  {{lc.sectionTitle}}
            p {{lc.sectionBody}}

        md-toolbar
            h1 Footer row

block bottom_more
